<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="fechar()" [strong]="true"
        >Fechar</ion-button
      >
    </ion-buttons>
    <ion-title>Notas</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="apagar()" [strong]="true"
        >Apagar</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Adiciona uma nota"
      [(ngModel)]="name"
      placeholder="..."
    ></ion-input>
  </ion-item>
</ion-content>
